@font-face {
    font-family: "FightClub";
    src: url("../font/FIGHTT3_.ttf");
}

.screen{
    background-color: black;
    width: 100%;

}

ul{
    list-style:none;
}
li > p{
    color:red;
}
body{
    font-family: "FightClub";
    color:white;
}


.introText{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
}

.rule{
    color:black;
}
.rule:hover{
    color:red;
}




.luchadores{
    display:Flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.luchador{
    padding: 1em;
    border: solid 1px black;
    height: 13em;
}
.disable{
    filter:grayscale(100%);
}

